<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>separator_view</key>
	<dict>
		<key>model_class</key>
		<string></string>
		<key>view_class</key>
		<string></string>
	</dict>
	<key>grid_view</key>
	<string></string>
	<key>carousel_view</key>
	<string></string>
</dict>
</plist>
